.navbar {
    background-color: #002c49; 
    padding: 15px; 
    width: 80%;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    z-index: 10;
    position: relative;
}

.navbar-items {
    display: flex;
}

.navbar-list {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: flex-start;
}

.navbar-item {
    cursor: pointer; 
}

.navbar-item a {
    color: white; 
    text-decoration: none; 
    font-size: 18px; 
    transition: color 0.3s, background-color 0.3s;
    height: 100%;
    display: flex; 
    align-items: center; 
    padding: 0 20px;
    position: relative;
}


.navbar-item:hover, 
.navbar-item.active{
    background-color: #1e73be;
    height: 275%; 
    max-width: 100%; 
    margin-left: -14px; 
    margin-top: -19px;
}

.navbar-item:hover, 
.navbar-item.active {
    color: white; 
}

.search-icon {
    color: white; 
    font-size: 24px; 
    cursor: pointer; 
}



